/* html body {
    background-color: #111d29;
} */

#SIvCob {
    color: #fff !important;
}

#SIvCob a {
    color: #b1d237;
}
/* ovde sam promenio boju */

/* .GyAeWb {
    background-color: #b1d237 !important;
} 
 */
