body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 800px;
    background-color: red;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: AUTO;
    grid-template-areas: 
    "heder heder heder"
    "saidbar center center"
    "saidbar center center"
}

.heder {
    grid-area: heder;
}
.saibar {
    grid-area: saidbar;
    background-color: aliceblue;
}
.center {
    grid-area: center;
    background-color: aqua;
}